<%- include("head.ejs")%>

<div class="container w-50 my-3 bg-dark rounded-md text-white">
    <h2>Welcome , <%= user.name %></h2>
    <span class="badge bg-primary"><%= user.email%></span> <br>
    <button class="btn btn-outline-danger my-3">logout</button>
</div>

<div class="container w-100 d-flex flex-wrap justify-content-around mt-3">
    
    <% for(let i of blog) {%>
        <div class="card w-25">
            
            <div class="card-header"> <%= i.title %> <a class="text-danger" href="/blogs/delete/<%= i._id %>"><i class="fa fa-solid fa-trash"></i></a></div>
            <div class="card-body">
            <blockquote class="blockquote mb-0">
              <p><%= i.content %></p>
              <p class="badge bg-info"><%= user.name %></p>
              <footer class="blockquote-footer"><%= user.email %></footer>
            </blockquote>
          </div>
        </div>
    <% } %>
    
</div>

<%- include("body.ejs")%>
